.nav {
    display: flex;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 28px 0;
}

.nav-bar > a {
    margin: 12px 0;
}

.content {
    flex: 12;
    padding: 8px;
}